@import 'base';
$colar-color: #7beec7;
$grey-color: #60606e;

$OpenSans: 'Open Sans',
sans-serif;

$montserrat:'Montserrat',
sans-serif;

.header {
    background-image: url(../img/header_bg.png);
    background-size: cover;
    min-height: 100vh;
    padding-top: 42px;
    position: relative;
    color: $grey-color;

    img {
        max-width: 472px;
    }

    &_btn {
        width: 165px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        border: none;
        background-color: $colar-color;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 14px;

        &:hover {
            color: $colar-color;
            background-color: white;
            border: 2px solid $colar-color;
            border-radius: 15px;
        }
    }
}

.logo_title {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 18px;
    color: $grey-color;
}

.menu {
    position: absolute;
    top: 0;
    background-color: $grey-color;
    color: white;
    flex-direction: column;
    padding: 10px;
    font-family: $montserrat;
    font-weight: bold;
    width: 300px;

    &__item {
        padding: 10px;
    }

    a {
        transition: all .5 ease-in;

        &:hover,
        &:active {
            color: $colar-color;
            text-decoration: underline;
        }
    }
}

#nav {
    position: relative;

    .close {
        position: absolute;
        right: 2%;
        top: 2%;
        color: white;

        &:hover {
            color: $colar-color;
            cursor: pointer;
        }
    }
}


.nav {
    display: none;
}

.nav-active {
    display: block;
}

.nav-close {
    display: none;
}


#burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all ease-in-out 2.5;

}


.line {
    width: 30px;
    height: 1px;
    background-color: $grey-color;
    margin: 3px;


    &_two {
        width: 15px;
        height: 1px;

    }

    &_three {
        width: 22px;
        height: 1px;
        transform: rotate();
    }

    &-active {
        width: 30px;
    }
}

.head {
    text-align: center;
    margin: auto;
    padding: 164px 0 165px;
    color: $grey-color;

    &-title {
        margin: auto;
        max-width: 100px;
        text-transform: uppercase;
        background-color: $colar-color;
        font-family: $montserrat;
        font-weight: 400;
        font-size: 18px;

        &_main {
            border: 10px solid $grey-color;
            font-family: $montserrat;
            font-weight: bold;
            font-size: 48px;

            &-desc {
                padding: 24px 10px;
                font-family: $OpenSans;
            }
        }
    }

    &_img {
        width: 472px;
        height: 501px;
    }

    &_subtitle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 28px;
        padding-bottom: 5px;
        background-image: url(../img/Shape.png);
        background-repeat: no-repeat;
        background-position-y: bottom;

    }

    &_subtext {
        font-family: $OpenSans;
        font-size: 16px;
        margin-bottom: 26px;
    }

    &_wrap {
        flex-wrap: wrap;
    }
}

.choose {
    color: $grey-color;

    img {
        max-width: 457px;
    }

    &_top {
        margin: auto;
        text-align: center;
        max-width: 750px;
        margin-bottom: 100px;
    }

    &_title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin: 150px 0 28px;
        padding-bottom: 5px;
        background-image: url(../img/Shape.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
    }

    &_info {
        &_block {
            text-transform: uppercase;

            h4 {
                font-family: $montserrat;
                font-size: 18px;
                font-weight: bold;
                margin-top: 15px;
            }

            &-text {
                font-family: $OpenSans;
                font-size: 14px;
                color: grey;
                line-height: 5vh;
            }
        }
    }
}

.portfolio {
    color: $grey-color;

    img {
        max-width: 260px;
    }

    &_menu {
        margin-top: 48px;
        padding-left: 10px;
        font-family: $montserrat;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;


        li {
            display: inline-block;
            margin-bottom: 14px;
            transition: .3s linear;
            padding-left: 10px;
            padding-right: 0;

            &:hover {
                cursor: pointer;
                background-color: $colar-color;
                background-position-x: center;

            }
        }

        .active {
            cursor: pointer;
            background-color: $colar-color;
            background-position-x: center;
        }

        &_title {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: bold;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

.gallery_item {
    margin-bottom: 30px;
    padding: 0 10px;
}

.contact {
    background-color: $colar-color;
    color: white;
    padding-top: 50px;

    &_right {
        background-color: white;
        color: $grey-color;
        margin-bottom: 50px;
        padding: 22px 30px;
    }

    &_title {
        font-style: 30px;
        line-height: 6vh;
        margin-bottom: 30px;
        font-weight: bold;
    }

    &_btn {
        width: 165px;
        height: 50px;
        text-transform: uppercase;
        color: $colar-color;
        border: none;
        background-color: white;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;

        &:hover {
            color: $colar-color;
            background-color: white;
            border: 2px solid $colar-color;
            border-radius: 15px;
        }
    }
}

.form {
    &_title {
        font-weight: bold;
        font-size: 24px;
        max-width: 340px;
        line-height: 5vh;
    }

    &_text {
        font-family: $OpenSans;
        font-size: 16px;
        margin-bottom: 18px;
    }

    &-control {
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 0px;
        // max-width: 372px;
        width: 100%;
        height: 50px;
    }

    &_btn {
        width: 135px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        border: none;
        background-color: $colar-color;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 14px;

        &:hover {
            color: $colar-color;
            background-color: white;
            border: 2px solid $colar-color;

        }
    }
}

.footer {
    text-transform: uppercase;
    padding: 50px 0;
    color: grey;
    font-family: $OpenSans;
    font-size: 14px;

    &_author {
        margin-bottom: 28px;
    }

    i {
        margin: 10px;

        &:hover {
            color: $colar-color;
            cursor: pointer;
            transform: scale(1.5);
            text-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 1.0);
        }
    }

    .menu__item {
        margin-right: 10px;

        &:hover {
            text-decoration: underline;
            color: $grey-color;
            transform: scale(1.1);
            text-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 1.0);

        }
    }
}

@media only screen and (max-width: 1199px) {
    .portfolio_menu {
        flex-wrap: wrap;
    }
}